<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- Needed on Android 11+ to find a browser that supports Trusted Web Activities -->
  <queries>
    <intent>
      <action android:name="android.support.customtabs.action.CustomTabsService" />
    </intent>
  </queries>

  <application
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:supportsRtl="true"
      android:theme="@style/Theme.LauncherActivity">

    <!-- Digital Asset Links: the site lists this app's signing certificate, so no browser UI is shown -->
    <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />

    <activity
        android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.LauncherActivity"
        android:configChanges="orientation|screenSize|keyboardHidden">

      <meta-data android:name="android.support.customtabs.trusted.DEFAULT_URL" android:value="@string/launch_url" />
      <meta-data android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR" android:resource="@color/colorPrimary" />
      <meta-data android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR_DARK" android:resource="@color/colorPrimaryDark" />
      <meta-data android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR" android:resource="@color/navigationColor" />
      <meta-data android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR_DARK" android:resource="@color/navigationColorDark" />
      <meta-data android:name="android.support.customtabs.trusted.SPLASH_IMAGE_DRAWABLE" android:resource="@drawable/splash" />
      <meta-data android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR" android:resource="@color/backgroundColor" />
      <meta-data android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADE_OUT_DURATION" android:value="300" />
      <meta-data android:name="android.support.customtabs.trusted.FILE_PROVIDER_AUTHORITY" android:value="space.avthsr.music.fileprovider" />
      <meta-data android:name="android.support.customtabs.trusted.DISPLAY_MODE" android:value="standalone" />
      <meta-data android:name="android.support.customtabs.trusted.SCREEN_ORIENTATION" android:value="portrait" />
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Links to the site open in the app -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="music.avthsr.space" />
      </intent-filter>
    </activity>

    <!-- Hands the splash image to the browser -->
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="space.avthsr.music.fileprovider"
        android:grantUriPermissions="true"
        android:exported="false">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths" />
    </provider>

    <service
        android:name="com.google.androidbrowserhelper.trusted.DelegationService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </service>
  </application>
</manifest>
